/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

::-webkit-scrollbar {
  width: 0;
}

/* Сброс стилей */
ul {
  list-style-type: none; /* Убирает буллиты */
}

/* Частоиспользуемые свойства */
:root {
  --index: calc(1vw + 1vh); /* Универсальная единица расчета */
  --main-bg-color: #fff;
  --main-text-color: black;
  --main-accent-color: #ae314e;
  --main-line-color: var(--main-text-color);
  --main-line-size: calc(var(--index) * .025);
  --main-oppacity: .8;
  --main-padding: 0 calc(var(--index) * 12.5);
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

html {
  /* font-size: 14px; */
  font-size: calc(var(--index) * .75);
}

/* Тело */
body {
  font-family: "Inter", sans-serif;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);

  width: 100vw;
}


/* Nav */

.container {
  position: relative;
}

.nav {
  position: fixed;
  z-index: 200;

  top: 0;
  left: 0;
  width: 100vw;
  
  padding: var(--main-padding);
  letter-spacing: calc(var(--index) * .15);

  background-color: var(--main-bg-color);
  opacity: var(--main-oppacity);
}

.nav-list__link:hover {
  color: var(--main-accent-color);
  opacity: var(--main-oppacity);
}

.nav a {
  outline: none;
  text-decoration: none;

  color: var(--main-text-color);
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: calc(var(--index) * 1) 0 calc(var(--index) * 1) 0;

  color: var(--main-text-color);

  z-index: 300;

  row-gap: calc(var(--index) * .5);
  column-gap: calc(var(--index) * 1);
  flex-wrap: wrap;

  border-bottom: var(--main-line-color) solid var(--main-line-size);
}

.logo {
  margin-right: auto; 

  font-weight: 600;
  font-size: calc(var(--index) * 1.2);
}

.nav-list {
  display: flex;

  column-gap: calc(var(--index) * 1.2);

  font-size: calc(var(--index) * 0.7);
  font-weight: 300;

  letter-spacing: normal;
}

/* Header */

.main-header {
  display: grid;
  position: relative;

  /* top: 12rem; */
  
  height: 100vh;
  width: 100vw;
}

.promos {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  row-gap: calc(var(--index) * 2);

  margin: var(--main-padding);    

  height: 100vh;
}

.promo2 {
  background: linear-gradient(
    217deg,
    #8d394d,
    #D07086 70%
  ),
  linear-gradient(127deg, #271718, #271718 70%),
  linear-gradient(336deg, #E4BDC8, #271718 70%);

  height: 100vh;

  animation: gradient 4s infinite linear;
  background-size: 400%;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.slogan {
  position: relative;

  line-height: calc(var(--index) * 3.5);
  font-size: calc(var(--index) * 3.8);
  letter-spacing: calc(var(--index) * .01);
  font-weight: 500;

  width: 100%;
}

.slogan-accent {
  font-weight: 500;
  color: var(--main-accent-color);
}

.btn__info {
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;

  margin-top: calc(var(--index) * 1.5);
  top: 100%;
  
  width: calc(var(--index) * 5.5);
  height: calc(var(--index) * 1.3);

  border: var(--main-line-color) solid var(--main-line-size);
  padding: calc(var(--index) * .3);
  border-radius: calc(var(--index) * 1);

  font-weight: lighter;
  font-size: calc(var(--index) * .5);
  letter-spacing: normal;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.sakura {
  position: absolute;
  top: calc(var(--index) * 11); 
  right: 0;

  height: calc(var(--index) * 19);
  width: calc(var(--index) * 31);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}